<?xml version="1.0"?>
<configuration>
  <connectionStrings> 
    <add name="128" connectionString=""/>
    <add name="LastDateTime" connectionString=""/>
    <!--授权使用天数-->
    <add name="CheckDays" connectionString="15"/>
    <!--提前几天报警-->
    <add name="PreAlertDays" connectionString="10"/>
  </connectionStrings>
</configuration>
